* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container {
    width: 90%;
    max-width: 1000px;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}
#title {
    font-size: 2rem;
    color: #333;
}
h2 {
    color: #777;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
#form_data {
    background-color: white;
    padding: 20px 0px;
}
.input-box, #category {
    border-radius: 20px;
    background-color: #e2e2e2;
    padding: 0px 20px;
    margin: 0px 10px;
    border: none;
    height: 30px;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid black;
}
.filter-dropdown {
    margin: 4px;
}
#filter {
    border: none;
    border-radius: 20px;
    background-color: #e2e2e2;
    width: 50px;
    height: 20px;

}
.row {
  border: 1px solid;
}
.row-checked {
    background-color: #e6f2ff;
    border: 2px solid #3399ff;
}
.btn {
    margin: 30px 20px;
    border-radius: 12px;
    border: none;
    width: 100px;
    height: 40px;
    background-color: rgb(182, 182, 182);
    color: black;
    transition: 0.2s ease;
    font-size: 12px;
}
.btn:hover {
    width: 103px;
    height: 42px;
    transition: 0.2s ease;
    background-color: rgb(120, 120, 120);
}


